#courses {
    height: 90vh;
    display: grid;
    grid-template-columns: 12vw 1fr 12vw;
    grid-template-rows: 5vh 1fr;
}

#courses-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

#course-list {
    grid-column: 2/3;
    grid-row: 2/3;
    overflow: scroll;
}